*{

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;



}

body{




    font-size: 16px;
}

#clock{

    font-family: Quicksand;
    color:#fff;
    width:100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0,0,0,.5);
}




