h1 {
    text-align: center;
    color: #151515;
    font-size: 40px;
    margin: 30px 0 50px;
}
h4{
    text-align: center;
}
.gallery
{
    display: inline-block;
    margin: 10px 50px;
}
.gallery img{
    width: 350px;
    padding: -5px;
    filter: grayscale(100%);
    transition: 1s;
}
.gallery img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}
#galeria {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    color: #fff;
}

#galeria img {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

